<div id="<%= dom_id jogging %>">
  <p>
    <strong>Date:</strong>
    <%= jogging.date %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= jogging.distance %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= jogging.time %>
  </p>

</div>
